<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base Template{% endblock %}</title>
        {% block head_css %}
    <!-- Estilos CSS -->
    <link href="{% static 'tasks/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="{% static 'tasks/css/sb-admin-2.min.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body id="page-top">
    {% block body %}
    <!-- Contenido principal -->
    <div id="wrapper">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}
    {% block scripts %}
    <!-- Scripts JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'tasks/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'tasks/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'tasks/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'tasks/js/sb-admin-2.min.js' %}"></script>
    {% endblock %}
</body>
</html>
