{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
    <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
</head>
<body>
    <div class="container">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h2 class="m-0 font-weight-bold text-primary">Bienvenido {{ request.user.username }} a To DO List   </h2>
            </div>
            <div class="card-body">
                <a href="{% url 'task_create' %}" class="btn btn-primary mb-3">
                    <i class="fas fa-plus"></i> Nueva tarea
                </a>
                <h3>Tareas Pendientes</h3>
                <ul class="list-group">
                    {% for task in tareas_pendientes %}
                    <li class="list-group-item {% if task.resuelta %}tarea-resuelta{% endif %}">
                        <strong>{{ task.title }}</strong>
                        <p>{{ task.nota }}</p>
                        <p>Fecha de asignación: {{ task.fecha_asignacion }}</p> 
                        <p>Fecha de vencimiento: {{ task.fecha_vencimiento }}</p>
                        {% if task.archivo %}
                        <p>Archivo: 
                            <!-- Enlace para abrir el archivo en una nueva pestaña -->
                            <a href="{{ task.archivo.url }}" target="_blank" class="btn btn-info btn-sm mr-2">
                                <i class="fas fa-external-link-alt"></i> Abrir
                            </a>
                            <!-- Enlace para descargar el archivo -->
                            <a href="{{ task.archivo.url }}" download class="btn btn-info btn-sm">
                                <i class="fas fa-download"></i> Descargar
                            </a>
                        </p>
                        {% endif %}
                        <!-- Contenedor flexible para los botones -->
                        <div class="d-flex justify-content-end mt-2">
                            <a href="{% url 'task_update' task.pk %}" class="btn btn-warning btn-sm mr-2">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger btn-sm mr-2">
                                <i class="fas fa-trash"></i> Eliminar
                            </a>
                            {% if not task.resuelta %}
                            <a href="{% url 'check_resolve' task.pk %}" class="btn btn-success btn-sm">
                                Resuelto
                            </a>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <h3 class="mt-4">Tareas Resueltas</h3>
                <ul class="list-group">
                    {% for task in tareas_resueltas %}
                    <li class="list-group-item tarea-resuelta">
                        <strong>{{ task.title }}</strong>
                        <p>{{ task.nota }}</p>
                        <p>Fecha de vencimiento: {{ task.fecha_vencimiento }}</p>
                        {% if task.archivo %}
                        <p>Archivo: <a href="{{ task.archivo.url }}" target="_blank" class="btn btn-info btn-sm">
                            <i class="fas fa-download"></i> Descargar
                        </a></p>
                        {% endif %}
                        <div class="mt-2">
                            <a href="{% url 'task_update' task.pk %}" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i> Eliminar
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="mt-4">
            <a href="{% url 'logout' %}" class="btn btn-secondary">
                <i class="fas fa-sign-out-alt"></i> Cerrar sesión
            </a>
        </div>
    </div>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
</body>
</html>